.pokemon-lista{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.pokemon-lista article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.pokemon-lista article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    margin-bottom: 24px;

}

.pokemon-lista article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #ff0d0d;
    background: none;
    margin-top: 10px;
    color: #ff0d0d;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.pokemon-lista article a:hover {
    background: #ff0d0d;
    color: #fff;
}

/* .pokemon-lista .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pokemon-lista .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pokemon-lista .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.pokemon-lista .actions button:hover {
    opacity: 0.7;
}

.pokemon-lista .actions button[disabled]:hover {
    opacity: 0.5;
} */