.poke-detalhe {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    
}

.poke-detalhe h1 {
    font-size: 32px;
}

.poke-detalhe p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;;
}

.poke-detalhe p a{
    color: #069;
}


.poke-detalhe .perfil {
    float: left;
    width: 50%;
    height: 170px;
}

.poke-detalhe .habilidades {
    float: right;
    width: 50%;
    height: 170px;
}

.poke-detalhe .movimentos {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.poke-detalhe .movimentos .lista {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
    
}

#movimentos {
    display: flex;
    padding: 5px;
    
}

.poke-detalhe a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #ff0d0d;
    background: none;
    margin-top: 10px;
    color: #ff0d0d;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.poke-detalhe a:hover {
    background: #ff0d0d;
    color: #fff;
}