header#main-header{
    width: 100%;
    height: 60px;
    background: #ff0d0d;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}